<div class="container">
<!--RECIPE DETAIL RIGHT SIDEBAR-->
    <md-sidenav-container class="sidenav-container">
        <!--opened-->
        <md-sidenav align="end" mode="side" class="sidenav-content" opened #sidenav>
            <md-tab-group>
                <md-tab label="DETAILS">
                    <!--ROUTER-->
                    <router-outlet></router-outlet>
                    <!--<button md-raised-button color="accent">CLOSE</button>-->
                </md-tab>
                <md-tab 
                    label="FEED">...FEED CONTENT...
                </md-tab>
            </md-tab-group>
        </md-sidenav>
        <!--RECIPE LIST-->
        <app-recipe-list></app-recipe-list>
    </md-sidenav-container>
</div>

